body{
background-color:#FAF3F3;
margin:0px;
font-family: "Montserrat", Arial, sans-serif; /*font size: 100% = 16px; 1em = 16px; em inherits parent's setting, rem doesn't*/;
text-align:center
}

h2{
margin-bottom:2rem;
}



.home {
position:fixed;
writing-mode: vertical-lr;
left:3.55rem;
bottom:42%;
font-weight:bold;
color:black;
text-decoration:none
}

a.home:hover{
text-decoration:underline
}

.home_line2{
position:fixed;
border-left: 6px solid black;
left:3.8rem;
height: 17.8rem;
bottom:9%
}

.email{
position:fixed;
writing-mode: vertical-lr;
right:0.55rem;
bottom:42%;
color:black;
font-weight:bold;
text-decoration:none;
}
a.email:hover{
text-decoration:underline
}

.email_line{
position:fixed;
border-left: 6px solid black;
right:1rem;
height: 17.8rem;
bottom:9%
}



.greetings{
font-size:1.2rem;
}
.my_name{
font-size: 5.6rem;
margin-top:0
}
.what_i_do{    /* 40px */
font-size: 2.5rem;
font-weight: normal;
color: #595260;

}

.profile_pic{
height:200px;
border-radius:20%;
float:right;
}

h1{
line-height:1
}

hr {
  border: dotted #525E75 10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.first_container{
display: inline-block;
text-align:left;
min-height:100vh;
padding-top:100px;
}


.container{
display:inline-block;
text-align:left;
min-height:100vh;
max-width:50%
}







/* Style the tab */

* {box-sizing: border-box;}

.tab {
  float: left;
  border: 5px solid #525E75;
  border-left:none;
  border-right:none;
  background-color: #FAF3F3;
  width: 30%;
  height: 400px;


}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;


}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #525E75;
  color:white
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 5px solid #525E75;
  width: 70%;
  border-left: none;
  border-right: none;
  height: 400px;
  display: none;
  }



  .default_content{
display:inline-block;
}


/* Top nav bar */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #FAF3F3;
 color: black;

}
.nav-links a:link, a:visited, a:hover, a:active {
 color: black;
 text-decoration: none
}

a.workplace{

color:#1572A1;
text-decoration: none

}

a.footer-link{
color:#1572A1;
text-decoration: none
}


.nav-links a:hover{
color:white;
background-color: #525E75;
border-radius: 5px;
padding:7px
}

/* LOGO */
.logo {
 font-size: 2.5rem;
 font-weight:bold;

}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 transition: 0.3s ease;
}



.menu li {
 padding: 5px 14px;
 list-style: none;
 font-weight:bold;
 text-decoration: none;

}
/* DROPDOWN MENU */
.services {
 position: relative;
}
.dropdown {
 background-color: #525E75;
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;

}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 10em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #525E75;
}
.services:hover .dropdown {
 display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
}
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 4.5rem;
 user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu {
 display:none;
 position: absolute;
 background-color:#525E75;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#525E75;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #525E75;
}

.first_container{
margin: 0 10%
}

.container{
max-width:100%;
margin: 0 10%
}

.home{
display:none
}

.email{
display:none
}

hr {
  border: dotted #525E75 10px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

.profile_pic{
float:none;
display:block;
margin-left:25%
}



}

@media (max-height: 900px) {

.home {
left:1rem;
text-decoration:underline
}
.home_line2{
display:none
}
.email{
right:0rem;
text-decoration:underline
}
.email_line{
display:none
}

}
}